#hero {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100svh;
  height: 100%;
  background-image: url('https://i.postimg.cc/8zrXQ4gg/homeimage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: start;
  align-items: center;
}

#motto {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
  flex-direction: column;
  padding-left: var(--sw-padding-xl);
  gap: var(--sw-gap-xl);
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--sw-color-2);
  width: 100%;
}

h2 {
  font-family: var(--sw-primary-font);
  font-size: 2.3rem;
  font-weight: 600;
  color: var(--sw-color-4);
}

p {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--sw-color-4);
  width: 60%;
  filter: brightness(1.1);
}

#startQuiz {
  color: var(--sw-bg-1);
  font-weight: 700;
  font-family: var(--sw-secondary-font);
  font-size: 1rem;
  background-color: var(--sw-color-4);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#startQuiz:hover {
  color: var(--sw-color-4);
  background-color: var(--sw-bg-1);
}

/*MEDIAS QUERIES*/

@media (max-width: 1200px) {
  p {
    width: 65%;
  }
}

@media (max-width: 1105px) {
  p {
    width: 80%;
  }
}

@media (max-width: 916px) {
  p {
    width: 90%;
  }
}

@media (max-width: 864px) {
  #motto {
    width: 100%;
  }
}

@media (max-width: 864px) {
  p {
    width: 70%;
  }
}

@media (max-width: 600px) {
  #motto {
    width: 100%;
  }

  h2 {
    width: 70%;
  }

  p {
    width: 70%;
  }
}

@media (max-width: 490px) {
  #motto {
    padding-right: var(--sw-padding-l);
  }
  #hero {
    background-position: left;
  }
  h2 {
    width: 100%;
  }
  p {
    width: 100%;
  }
}

@media (max-width: 395px) {
  h1 {
    font-size: 3.7rem;
  }
}

@media (max-width: 376px) {
  #motto {
    padding-left: var(--sw-padding-l);
  }

  #startQuiz {
    font-weight: 600;
  }
}

@media (max-width: 338px) {
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 304px) {
  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 299px) {
  h1 {
    font-size: 3.2rem;
  }
}

@media (max-width: 291px) {
  #startQuiz {
    font-size: 0.9rem;
  }
}
