#final-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100svh;
  background-image: url('assets/score.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: var(--sw-gap-l);
}

.score-sentence {
  width: 40%;
  height: auto;
  font-size: 2.2rem;
  font-family: var(--sw-secondary-font);
  color: var(--sw-color-4);
  font-weight: 700;
  filter: brightness(1.4);
}

.score-number {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sw-gap-xs);
  font-weight: 800;
}

.score-span {
  font-size: 5rem;
  font-family: var(--sw-secondary-font);
  color: var(--sw-color-4);
}

.score-twenty {
  font-size: 3rem;
  font-family: var(--sw-secondary-font);
  color: var(--sw-color-4);
}

.reset-button {
  margin-top: var(--sw-margin-s);
  color: var(--sw-bg-1);
  font-weight: 700;
  font-family: var(--sw-secondary-font);
  font-size: 1.2rem;
  background-color: var(--sw-color-4);
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-button:hover {
  color: var(--sw-color-4);
  background-color: var(--sw-bg-1);
}

/*MEDIAS QUERIES*/

@media (max-width: 1100px) {
  .score-sentence {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .score-sentence {
    font-size: 2rem;
    width: 70%;
  }
}

@media (max-width: 550px) {
  .score-sentence {
    font-size: 1.8rem;
    width: 80%;
  }

  .reset-button {
    font-size: 1.1rem;
  }
}

@media (max-width: 411px) {
  .score-sentence {
    font-size: 1.4rem;
  }
}
